[Desktop Entry]
Categories=System;
Comment=Open home directory
Exec=/usr/bin/dde-file-manager -O -n
GenericName=Home
Icon=user-home
Name=Home
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-file-manager
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ar]=افتح الدليل الرئيسي 
Comment[az]=Ev qovluğunu açmaq
Comment[bo]=དཀར་ཆག་གཙོ་བོ་ཁ་འབྱེད།
Comment[ca]=Obre la carpeta de l'usuari
Comment[cs]=Otevřít domovskou složku
Comment[de]=Home-Verzeichnis öffnen
Comment[es]=Abrir carpeta personal
Comment[et]=Ava kodukaust
Comment[fi]=Avaa kotikansio
Comment[fr]=Ouvrir le répertoire personnel
Comment[gl_ES]=Abrir o inicio do directorio
Comment[hr]=Otvori osobni direktorij
Comment[hu]=Saját mappa megnyitása
Comment[it]=Apri la Home
Comment[ja]=ホームディレクトリを開きます
Comment[kab]=Ldi akaram agejdan
Comment[ko]=홈 디렉토리 열기
Comment[lt]=Atverti namų katalogą
Comment[ms]=Buka direktori rumah
Comment[nl]=Open je persoonlijke map
Comment[pl]=Otwórz katalog domowy
Comment[pt]=Abrir diretório da Pasta Pessoal
Comment[pt_BR]=Abrir a pasta pessoal
Comment[ro]=Deschide directorul acasă
Comment[ru]=Открыть домашний каталог
Comment[sk]=Otvoriť domovský adresár
Comment[sl]=Odpri domačo mapo
Comment[sq]=Hapni drejtorinë shtëpi
Comment[sr]=Отвори лични директоријум
Comment[tr]=Ev dizinini aç
Comment[ug]=باش مۇندەرىجىنى ئېچىش
Comment[uk]=Відкрити домашній каталог
Comment[zh_CN]=打开主目录
Comment[zh_HK]=打開主目錄
Comment[zh_TW]=打開主目錄
GenericName[ar]=المنزل
GenericName[az]=Ev
GenericName[bo]=དཀར་ཆག་གཙོ་བོ།
GenericName[ca]=Carpeta de l'usuari
GenericName[cs]=Domovská složka
GenericName[de]=Home
GenericName[es]=Carpeta personal
GenericName[et]=Kodu
GenericName[fi]=Koti
GenericName[fr]=Accueil
GenericName[gl_ES]=Inicio
GenericName[hr]=Osobna mapa
GenericName[hu]=Saját mappa
GenericName[it]=Home
GenericName[ja]=ホーム
GenericName[kab]=Agejdan
GenericName[ko]=홈
GenericName[lt]=Namai
GenericName[ms]=Rumah
GenericName[nl]=Persoonlijke map
GenericName[pl]=Katalog domowy
GenericName[pt]=Pasta Pessoal
GenericName[pt_BR]=Pasta Pessoal
GenericName[ro]=Acasă
GenericName[ru]=Домашняя папка
GenericName[sk]=Domov
GenericName[sl]=Dom
GenericName[sq]=Shtëpia
GenericName[sr]=Лично
GenericName[tr]=Ev
GenericName[ug]=باش مۇندەرىجە
GenericName[uk]=Домівка
GenericName[zh_CN]=主目录
GenericName[zh_HK]=主目錄
GenericName[zh_TW]=主資料夾
Name[ar]=المنزل
Name[az]=Ev
Name[bo]=དཀར་ཆག་གཙོ་བོ།
Name[ca]=Carpeta de l'usuari
Name[cs]=Domovská složka
Name[de]=Home
Name[es]=Carpeta personal
Name[et]=Kodu
Name[fi]=Koti
Name[fr]=Accueil
Name[gl_ES]=Inicio
Name[hr]=Osobna mapa
Name[hu]=Saját mappa
Name[it]=Home
Name[ja]=ホーム
Name[kab]=Agejdan
Name[ko]=홈
Name[lt]=Namai
Name[ms]=Rumah
Name[nl]=Persoonlijke map
Name[pl]=Katalog domowy
Name[pt]=Pasta Pessoal
Name[pt_BR]=Pasta Pessoal
Name[ro]=Acasă
Name[ru]=Домашняя папка
Name[sk]=Domov
Name[sl]=Dom
Name[sq]=Shtëpia
Name[sr]=Лично
Name[tr]=Ev
Name[ug]=باش مۇندەرىجە
Name[uk]=Домівка
Name[zh_CN]=主目录
Name[zh_HK]=主目錄
Name[zh_TW]=主資料夾

