[Unit]
Description=DDE File Manager Daemon

[Service]
Type=dbus
BusName=com.deepin.filemanager.daemon
ExecStart=/usr/bin/dde-file-manager-daemon
ExecStartPre=modprobe vfs_monitor
ExecStopPost=rmmod vfs_monitor
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
