[Unit]
Description=DDE File Manager Daemon
After=local-fs.target udisks2.service usec-boot-unlock.service dde-dconfig-daemon.service

[Service]
Type=dbus
BusName=org.deepin.Filemanager.Daemon
ExecStart=/usr/bin/dde-file-manager-daemon
CapabilityBoundingSet=~CAP_NET_RAW

[Install]
WantedBy=multi-user.target
