[Unit]
Description=DDE File Manager Daemon

Wants=dde-session-core.target
After=dde-session-core.target

PartOf=dde-session-initialized.target
Before=dde-session-initialized.target

[Service]
Type=dbus
BusName=org.deepin.Filemanager.Daemon
ExecStart=/usr/bin/dde-file-manager-daemon
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
