[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Browse the file system
Exec=/usr/bin/dde-file-manager %u
Icon=dde-file-manager
MimeType=inode/directory;
Name=Deepin File Manager
StartupNotify=true
Terminal=false
Type=Application
Version=1.0

# Translations:
# Do not manually modify!
Comment[ar]=تصفح ملف النظام
Comment[ast]=Restola pel sistema de ficheros
Comment[bg]=Преглед на файловата система
Comment[bn]=ফাইল সিস্টেম ব্রাউজ করুন
Comment[ca]=Navega el sistema de fitxers
Comment[cs]=Procházet souborový systém
Comment[da]=Gennemse filsystemet
Comment[de]=Dateisystem durchsuchen
Comment[el]=Περιηγηθείτε στο αρχείο συστήματος
Comment[en_AU]=Browse the file system
Comment[en_GB]=Browse the file system
Comment[es]=Examinar el sistema de archivos
Comment[es_419]=Examinar el sistema de archivos
Comment[et]=Sirvi failisüsteemi
Comment[eu]=Arakatu fitxategi sistema
Comment[fi]=Selaa tiedostojärjestelmää
Comment[fr]=Parcourir le système de fichiers
Comment[gl]=Examinar o sistema de ficheiros
Comment[gl_ES]=Examina o sistema de ficheiros
Comment[he]=עיון במערכת הקבצים
Comment[hr]=Pregledavaj datotečni sustav
Comment[hu]=Fájlrendszer böngészése
Comment[id]=Ramban sistem berkas
Comment[is]=Flakka í skráakerfinu
Comment[it]=Apri il file system
Comment[ja]=ファイルシステムを参照します
Comment[kk]=Файлдық жүйені шолу
Comment[ko]=파일 시스템 탐색
Comment[lt]=Naršyti failų sistemą
Comment[ms]=Layar sistem fail
Comment[nb]=Bla gjennom filsystemet
Comment[nl]=Verken het bestandssysteem
Comment[nn]=Bla gjennom filsystemet
Comment[oc]=Percórrer lo sistèma de fichièrs
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਬਰਾਊਜ਼ਰ ਕਰੋ
Comment[pl]=Przeglądaj system plików
Comment[pt]=Explorar o sistema de ficheiros
Comment[pt_BR]=Navegar pelo sistema de arquivos 
Comment[ro]=Gestionați fișierele din sistem
Comment[ru]=Просмотр файловой системы
Comment[sk]=Prehľadávanie systému súborov
Comment[sl]=Brskaj po datotečnem sistemu
Comment[sr]=Прегледај фајл систем
Comment[sv]=Bläddra i filsystemet
Comment[te]=దస్త్ర వ్యవస్థను విహరించు
Comment[th]=ท่องดูระบบแฟ้ม
Comment[tr]=Dosya sistemini tara.
Comment[ug]=ھۆججەت سىستېمىسىنى كۆرىدۇ
Comment[uk]=Оглянути файлову систему
Comment[vi]=Duyệt hệ thống tệp tin
Comment[zh_CN]=浏览文件系统
Comment[zh_HK]=瀏覽檔案系統
Comment[zh_TW]=瀏覽檔案系統
Name[ar]=مدير الملفات
Name[ast]=Xestor de Ficheros
Name[bg]=Файлов мениджър
Name[bn]=ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Deepin filhåndtering
Name[de]=Deepin Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[en_AU]=Deepin File Manager
Name[en_GB]=Deepin File Manager
Name[es]=Administrador archivos Deepin
Name[es_419]=Administrador archivos Deepin
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de Fichier Deepin
Name[gl]=Xestor de ficheiros
Name[gl_ES]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Deepin upravljač datoteka
Name[hu]=Deepin fájlkezelő
Name[id]=Manajer Berkas
Name[is]=Skráastjóri
Name[it]=Deepin File Manager
Name[ja]=ファイルマネージャー
Name[kk]=Файлдар басқарушысы
Name[ko]=파일 관리자
Name[lt]=Deepin failų tvarkytuvė
Name[lv]=Faila pārvaldnieks
Name[ms]=Pengurus Fail Deepin
Name[nb]=Filbehandler
Name[nl]=Deepin File Manager
Name[nn]=Filhandsamar
Name[oc]=Gestionari de fichièrs
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Zarządzanie plikami Deepin
Name[pt]=Gestor de Ficheiros Deepin
Name[pt_BR]=Gerenciador de Arquivos 
Name[ro]=Manager de fișiere
Name[ru]=Файловый менеджер Deepin
Name[sk]=Deepin Správca súborov
Name[sl]=Upravitelj datotek Deepin
Name[sr]=Deepin фајл менаџер
Name[sv]=Filhanterare
Name[te]=దస్త్ర నిర్వాహకం
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер
Name[vi]=Trình quản lý tệp tin
Name[zh_CN]=深度文件管理器
Name[zh_HK]=深度檔案管理員
Name[zh_TW]=Deepin 檔案

[Desktop Action new-window]
Exec=dde-file-manager --new-window
Name=New Window
Name[sr@latin]=Novi prozor

# Translations:
# Do not manually modify!
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[es]=Nueva ventana
Name[es_419]=Nueva ventana
Name[eu]=Leiho berria
Name[fa]=پنجره نو
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre 
Name[fur]=Gnûf barcon
Name[gd]=Uinneag ùr
Name[gl]=Nova xanela
Name[gl_ES]=Nova xanela
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ms]=Tetinkap Baharu
Name[nb]=Nytt vindu
Name[nl]=Nieuw Venster
Name[oc]=Fenèstra novèla
Name[pl]=Nowe okno
Name[pt]=Nova Janela
Name[pt_BR]=Nova janela
Name[ru]=Новое Окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name[zh_TW]=新增視窗

