[Desktop Entry]
Categories=Utility;
Comment=Open file with dialog
Exec=/usr/bin/dde-file-manager -o %u
GenericName=Open Dialog
Icon=dde-file-manager
NoDisplay=true
StartupNotify=true
Name=DDE Open Dialog
Terminal=false
Type=Application
