[Unit]
Description=DDE File Manager Server

[Service]
Type=dbus
BusName=org.deepin.filemanager.server
ExecStart=/usr/bin/dde-file-manager-server
ExecStop=/usr/bin/kill -9 $MAINPID

[Install]
WantedBy=graphical-session.target
