[Unit]
Description=DDE File Manager Server

Wants=dde-session-pre.target
After=dde-session-pre.target

Wants=dde-session-initialized.target
PartOf=dde-session-initialized.target
Before=dde-session-initialized.target

[Service]
Type=dbus
BusName=org.deepin.filemanager.server
ExecStart=/usr/bin/dde-file-manager-server

[Install]
WantedBy=graphical-session.target
