# Compiled Object files
*.slo
*.lo
*.o
*.obj
.qmake.stash

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
Makefile
Makefile.*
*.Debug
*.Release
*.rc
*.zip

debug
release
build*

*.pro.user
*.pro.user*
*.qm
*.autosave

vendor/include/*
vendor/lib/*

dde-sharefiles/lib/*
dde-sharefiles/tmp/*
dde-sharefiles/log/*

NUL

# Documents
doc/html/*

tools

dde-file-manager-lib/test_shutil/fileutils/fileutil_t1.txt

dde-file-manager-lib/test_shutil/fileutils/fileutil_t2.txt

dde-file-manager-lib/test_shutil/fileutils/jsonArry.json

dde-file-manager-lib/test_shutil/fileutils/jsonObj.json

dde-file-manager-lib/test_shutil/fileutils/sub/fileutil_file_new1.txt

dde-file-manager-lib/test_shutil/new1.txt

dde-file-manager-lib/test_shutil/new2.txt

dde-file-manager-lib/test_shutil/property/oneProperty.pro
