[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Browse the file system
Exec=/usr/bin/dde-file-manager -n %u
GenericName=File Manager
Icon=dde-file-manager
MimeType=inode/directory;
Name=Deepin File Manager
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Deepin-DEComponent=true
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ady]=پەنەل ئەتىسەن
Comment[af]=Blader de bestandssysteem
Comment[am_ET]=የ ፋይል ስርአት መቃኛ
Comment[ar]=تصفح ملف النظام
Comment[ast]=Restola sistemes de ficheros
Comment[az]=Fayl sisteminə baxış
Comment[bg]=Преглед на файловата система
Comment[bn]=ফাইল সিস্টেম ব্রাউজ করুন
Comment[bo]=ཡིག་ཆའི་རྒྱུད་ཁོངས་ལ་རགས་ཙམ་ལྟ་བ།
Comment[bqi]=فائل سسٹم کو تلاش کریں
Comment[br]=Navegue no sistema de arquivos
Comment[ca]=Navegueu pel sistema de fitxers
Comment[cs]=Procházet souborový systém
Comment[da]=Gennemse filsystemet
Comment[de]=Dateisystem durchsuchen
Comment[el]=Περιηγηθείτε στο αρχείο συστήματος
Comment[en_AU]=Browse the file system
Comment[en_GB]=Browse the file system
Comment[eo]=Ŝiri la dosieran sistemon
Comment[es]=Examinar el sistema de archivos
Comment[es_CU]=Navegar por el sistema de archivos
Comment[et]=Sirvi failisüsteemi
Comment[fa]=سیستم فایل را مرور کنید
Comment[fi]=Selaa tiedostoja
Comment[fil]=Surf sa sistema ng mga file
Comment[fr]=Parcourir le système de fichiers
Comment[gl_ES]=Examina o sistema de ficheiros
Comment[he]=עיון במערכת הקבצים
Comment[hi_IN]=फ़ाइल सिस्टम का निरीक्षण करें
Comment[hr]=Pregledavaj datotečni sustav
Comment[hu]=A fájlrendszer böngészése
Comment[hy]=Ֆայլերի համակարգը ստուգեք
Comment[id]=Ramban sistem berkas
Comment[it]=Apri il File System
Comment[ja]=ファイル システムを参照します
Comment[ka]=ფაილის სისტემის გადმოწერა
Comment[kab]=Snirem anagraw n yifuyla
Comment[km_KH]=រកមើលប្រព័ន្ធឯកសារ
Comment[kn_IN]=ಸಂಗ್ರಹಣೆಯನ್ನು ನೋಡಿ
Comment[ko]=파일 시스템 찾아보기
Comment[ku]=ئەمە بەرە بەرە سیستېم
Comment[ku_IQ]=ئەمەجەر كۆرەنە
Comment[ky]=Файлдың системасын ҡарау
Comment[lt]=Naršyti failų sistemą
Comment[ml]=ഫയൽ സിസ്റ്റമിൽ പരിശോധിക്കുക
Comment[mn]=Файл системийг ажиглах
Comment[mr]=फाइल सिस्टम ब्राउज करा
Comment[ms]=Layar sistem fail
Comment[nb]=Bla gjennom filsystemet
Comment[ne]=फाईल प्रणाली ब्राउज गर्नुहोस्
Comment[nl]=Verken het bestandssysteem
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pam]=Panonod na sistema han file
Comment[pl]=Przeglądaj system plików
Comment[pt]=Explorar o sistema de ficheiros
Comment[pt_BR]=Navegar pelos arquivos do sistema
Comment[ro]=Gestionați fișierele din sistem
Comment[ru]=Просмотр файловой системы
Comment[sc]=Preveri sistemu datotek
Comment[si]=සැකසූ අතර පිටින් නිරික්ෂණය කරන්න
Comment[si_LK]=ආයුර් අවයව නිරීක්ෂණය කරන්න
Comment[sk]=Prehľadávanie systému súborov
Comment[sl]=Brskaj po datotečnem sistemu
Comment[sq]=Shfletoni sistemin e kartelave
Comment[sr]=Прегледај систем датотека
Comment[sv]=Bläddra i filsystemet
Comment[sw]=Kutia kifichia kwenye mifumo ya faili
Comment[ta]=கோப்பு முறைமை உலாவுக
Comment[th]=ท่องดูระบบแฟ้ม
Comment[tr]=Dosya sistemine gözat
Comment[tzm]=تَكْرُرْ يِسْتِمْ دِيْفِنْ
Comment[ug]=ھۆججەت سىستېمىسىنى كۆرىدۇ
Comment[uk]=Перегляд файлової системи
Comment[ur]=فائل سسٹم کو براو کریں
Comment[uz]=Fayl tizimini ko'rsatish
Comment[vi]=Duyệt hệ thống tệp tin
Comment[zh_CN]=浏览文件系统
Comment[zh_HK]=瀏覽文件系統
Comment[zh_TW]=瀏覽文件系統
GenericName[ady]=ئەتىسەن
GenericName[af]=Bestandbeheerder
GenericName[am_ET]=የ ፋይል አስተዳዳሪ
GenericName[ar]=مدير الملفات
GenericName[ast]=Xestor de ficheros
GenericName[az]=Fayl Meneceri
GenericName[bg]=Файлов мениджър
GenericName[bn]=ফাইল ম্যানেজার
GenericName[bo]=ཡིག་ཆ་དོ་དམ་བྱེད་ཆས།
GenericName[bqi]=dîvowdâri fāyl
GenericName[br]=Gerenciador de Arquivos
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_AU]=File Manager
GenericName[en_GB]=File Manager
GenericName[eo]=Dosieradministranto
GenericName[es]=Administrador de archivos
GenericName[es_CU]=Administrador de archivos
GenericName[et]=Failihaldur
GenericName[fa]=فایل منیجر
GenericName[fi]=Tiedostohallinta
GenericName[fil]=File Manager
GenericName[fr]=Gestionnaire de fichiers
GenericName[gl_ES]=Xestor do ficheiro
GenericName[he]=מנהל קבצים
GenericName[hi_IN]=फ़ाइल मैनेजर
GenericName[hr]=Upravitelj datotekama
GenericName[hu]=Fájlkezelő
GenericName[hy]=Ֆայլ մանագեր
GenericName[id]=Manajer Berkas
GenericName[it]=Gestore File
GenericName[ja]=ファイル マネージャー
GenericName[ka]=ფაილის მართვა
GenericName[kab]=Amsefrek n ifuyla
GenericName[km_KH]=កម្មវិធីដោះស្រាយឯកសារ
GenericName[kn_IN]=ಫೈಲ್ ಮ್ಯಾನಿಜರ್
GenericName[ko]=파일 관리자
GenericName[ku]=ڤايل مانىجر
GenericName[ku_IQ]=ھۆجەتمنەر
GenericName[ky]=Файл Менежеры
GenericName[lt]=Failų tvarkytuvė
GenericName[ml]=ഫയൽ മാനേജർ
GenericName[mn]=Файл менежер
GenericName[mr]=फाइल मॅनेजर
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filutforsker
GenericName[ne]=फाइल प्रबन्धक
GenericName[nl]=Bestandsbeheer
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pam]=File Manager
GenericName[pl]=Menedżer plików
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ro]=Manager de fișiere
GenericName[ru]=Файловый Менеджер
GenericName[sc]=Sistemi Datotek
GenericName[si]=පිටින් නිරික්ෂණය කරන්න
GenericName[si_LK]=අවයව නිරීක්ෂණය කරන්න
GenericName[sk]=Správca súborov
GenericName[sl]=Upravitelj datotek
GenericName[sq]=Përgjegjës Kartelash
GenericName[sr]=Управник Података
GenericName[sv]=Filhanterare
GenericName[sw]=File Manager
GenericName[ta]=கோப்பு மேலாளர்
GenericName[th]=โปรแกรมจัดการไฟล์
GenericName[tr]=Dosya Yöneticisi
GenericName[tzm]=مُنْتَجْ
GenericName[ug]=ھۆججەت باشقۇرغۇچ
GenericName[uk]=Файловий менеджер
GenericName[ur]=فائل منیجر
GenericName[uz]=Fayl Menedjeri
GenericName[vi]=Quản lý tập tin
GenericName[zh_CN]=文件管理器
GenericName[zh_HK]=文件管理器
GenericName[zh_TW]=檔案管理器
Name[ady]=Deepin ئەتىسەن
Name[af]=Deepin Bestandbeheerder
Name[am_ET]=ዲፕኢን የ ፋይል አስተዳዳሪ
Name[ar]=مدير ملفات ديبين
Name[ast]=Deepin File Manager
Name[az]=Deepin Fayl Meneceri
Name[bg]=Файлов мениджър
Name[bn]=ডিপিন ফাইল ম্যানেজার
Name[bo]=གཏིང་ཚད་ཡིག་ཆ་དོ་དམ་བྱེད་ཆས།
Name[bqi]=dîvowdâri fāyl dipin
Name[br]=Gerenciador de Arquivos Deepin
Name[ca]=Gestor de fitxers del Deepin
Name[cs]=Deepin správce souborů
Name[da]=Deepin filhåndtering
Name[de]=Deepin Dateimanager
Name[el]=Διαχειριστής Αρχείων Deepin
Name[en_AU]=Deepin File Manager
Name[en_GB]=Deepin File Manager
Name[eo]=Deepin Dosieradministranto
Name[es]=Administrador de archivos de Deepin
Name[es_CU]=Administrador de archivos Deepin
Name[et]=Deepin failihaldur
Name[fa]=مدیر فایل دیپین
Name[fi]=Deepin tiedostohallinta
Name[fil]=Deepin File Manager
Name[fr]=Gestionnaire de fichiers Deepin
Name[gl_ES]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hi_IN]=डीपिन फ़ाइल प्रबंधक
Name[hr]=Deepin upravltelj datotekama
Name[hu]=Deepin® Fájlkezelő
Name[hy]=Դեփին Ֆայլ մանագեր
Name[id]=Deepin File Manager
Name[it]=Gestore File di Deepin
Name[ja]=Deepin ファイル マネージャー
Name[ka]=დეეპინის ფაილის მართვა
Name[kab]=Amsefrak n yifuyla n Deepin
Name[km_KH]=Deepin File Manager
Name[kn_IN]=ಡಿಪಿನ್ ಫೈಲ್ ಮ್ಯಾನಿಜರ್
Name[ko]=Deepin 파일 관리자
Name[ku]=Deepin ڤايل مانىجر
Name[ku_IQ]=Deepin ھۆجەتمنەر
Name[ky]=Deepin Файл Менежеры
Name[lt]=Deepin failų tvarkytuvė
Name[ml]=ഡീപിൻ ഫയൽ മാനേജർ
Name[mn]=Диипин файл менежер
Name[mr]=डीपिन फाइल मॅनेजर
Name[ms]=Pengurus Fail Deepin
Name[nb]=Filbehandler
Name[ne]=डीपिन फाइल प्रबन्धक
Name[nl]=Deepin Bestandsbeheer
Name[pa]=ਡੀਪਿਨ ਫਾਇਲ ਮੈਨੇਜਰ
Name[pam]=Deepin File Manager
Name[pl]=Menedżer plików Deepin
Name[pt]=Gestor de Ficheiros Deepin
Name[pt_BR]=Gerenciador de Arquivos
Name[ro]=Manager de fișiere Deepin
Name[ru]=Файловый Менеджер Deepin
Name[sc]=Deepin Sistemi Datotek
Name[si]=ඩීපීන් පිටින් නිරික්ෂණය කරන්න
Name[si_LK]=ඩීපින් අවයව නිරීක්ෂණය කරන්න
Name[sk]=Deepin Správca súborov
Name[sl]=Upravitelj datotek Deepin
Name[sq]=Përgjegjës Kartelash Deepin
Name[sr]=Дипин Управник Података
Name[sv]=Filhanterare
Name[sw]=Deepin File Manager
Name[ta]=டீபைன் கோப்பு மேலாளர்
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tr]=Deepin Dosya Yöneticisi
Name[tzm]=مُنْتَجْ دِيْفِنْ دِيْفِنْ مُنْتَجْ
Name[ug]=ھۆججەت باشقۇرغۇچ
Name[uk]=Файловий менеджер Deepin
Name[ur]=ڈیپن فائل منیجر
Name[uz]=Deepin Fayl Menedjeri
Name[vi]=Trình quản lý tệp tin
Name[zh_CN]=深度文件管理器
Name[zh_HK]=Deepin 文件管理器
Name[zh_TW]=Deepin 檔案管理器

[Desktop Action new-window]
Exec=dde-file-manager --new-window
Name=New Window
Name[sr@latin]=Novi prozor

# Translations:
# Do not manually modify!
Name[ady]=يېڭى پەنەل
Name[af]=Nieuwe venster
Name[am_ET]=አዲስ መስኮት
Name[ar]=نافذة جديدة
Name[ast]=Ventana nueva
Name[az]=Yeni Pəncərə
Name[bg]=Нов прозорец
Name[bn]=নতুন উইন্ডো
Name[bo]=སྒེའུ་ཁུང་གསར་འཛུགས།
Name[bqi]=nimdari nu
Name[br]=Nova Janela
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_AU]=New Window
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Nueva ventana
Name[es_CU]=Nueva ventana
Name[et]=Uus aken
Name[fa]=پنجره نو
Name[fi]=Uusi ikkuna
Name[fil]=Bagong Window
Name[fr]=Nouvelle fenêtre 
Name[gl_ES]=Nova xanela
Name[he]=חלון חדש
Name[hi_IN]=नए विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[hy]=Նոր պատուհան
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新規ウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kab]=Asfaylu amaynut
Name[km_KH]=វីនដូថ្មី
Name[kn_IN]=ಹೊಸ ವಿಂಡೋ
Name[ko]=새 창
Name[ku]=پەنە جىدیدى
Name[ku_IQ]=پەنە یەڭی
Name[ky]=Яңы ҡапма-ҡап
Name[lt]=Naujas langas
Name[ml]=പുതിയ വിൻഡോ
Name[mn]=Шинэ цонх
Name[mr]=नवीन विंडो
Name[ms]=Tetinkap Baharu
Name[nb]=Nytt vindu
Name[ne]=नयाँ विन्डो
Name[nl]=Nieuw venster
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pam]=Bag-o nga puwesto
Name[pl]=Nowe okno
Name[pt]=Nova Janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое Окно
Name[sc]=Nova Okno
Name[si]=නව පිටින් නිරික්ෂණය කරන්න
Name[si_LK]=නව ක්‍රමානුපාතය
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sq]=Dritare e Re
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[sw]=Picha kipengele mpya
Name[ta]=புதிய திரை
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[tzm]=Asatam Amaynu
Name[ug]=يېڭى كۆزنەك
Name[uk]=Нове вікно
Name[ur]=نیو ونڈو
Name[uz]=Yangi Windows
Name[vi]=Mở cửa sổ mới
Name[zh_CN]=新建窗口
Name[zh_HK]=新建窗口
Name[zh_TW]=建立視窗

