[Desktop Entry]
Categories=System;
Comment=To auto launch reencryption
Exec=/usr/libexec/dde-file-manager -d
GenericName=Disk Reencrypt
Icon=dde-file-manager
Name=Disk Reencrypt
Terminal=false
Type=Application
NoDisplay=true
X-AppStream-Ignore=true
X-Deepin-AppID=dde-file-manager
X-Deepin-Vendor=deepin
