<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>LinuxDeepin</vendor>
  <vendor_url>https://www.deepin.com/</vendor_url>

  <action id="com.deepin.filemanager.daemon.NewCreateFolderJob">
    <message>Authentication is required to excute this action</message>
    <icon_name>folder</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.deepin.filemanager.daemon.NewCreateTemplateFileJob">
    <message>Authentication is required to excute this action</message>
    <icon_name>folder</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.deepin.filemanager.daemon.NewCopyJob">
    <message>Authentication is required to excute this action</message>
    <icon_name>folder</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.deepin.filemanager.daemon.NewMoveJob">
    <message>Authentication is required to excute this action</message>
    <icon_name>folder</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.deepin.filemanager.daemon.NewRenameJob">
    <message>Authentication is required to excute this action</message>
    <icon_name>folder</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.deepin.filemanager.daemon.NewDeleteJob">
    <message>Authentication is required to excute this action</message>
    <icon_name>folder</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>