[Desktop Entry]
Categories=System;
Comment=Open home directory
Exec=file-manager.sh -O -n
GenericName=Home
Icon=user-home
Name=Home
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-file-manager
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ca]=Obre la carpeta de l'usuari
Comment[cs]=Otevřít domovskou složku
Comment[es]=Abrir carpeta personal
Comment[fi]=Avaa kotikansio
Comment[fr]=Ouvrir le répertoire personnel
Comment[it]=Apri la Home
Comment[ko]=홈 디렉토리 열기
Comment[nl]=Persoonlijke map openen
Comment[pt]=Abrir diretório da Pasta Pessoal
Comment[pt_BR]=Abrir o diretório do usuário
Comment[ru]=Открытый домашний каталог
Comment[sq]=Hapni drejtorinë shtëpi
Comment[sr]=Отвори лични директоријум
Comment[tr]=Ev dizinini aç
Comment[uk]=Відкрити домашній каталог
Comment[zh_CN]=打开主目录
Comment[zh_TW]=打開主目錄
GenericName[ca]=Carpeta de l'usuari
GenericName[cs]=Domovská složka
GenericName[es]=Carpeta personal
GenericName[fi]=Koti
GenericName[fr]=Accueil
GenericName[it]=Home
GenericName[ko]=홈
GenericName[nl]=Persoonlijke map
GenericName[pt]=Pasta Pessoal
GenericName[pt_BR]=Meu Usuário
GenericName[ru]=Главная
GenericName[sq]=Shtëpia
GenericName[sr]=Лично
GenericName[tr]=Ev
GenericName[uk]=Домівка
GenericName[zh_CN]=主目录
GenericName[zh_TW]=主資料夾
Name[ca]=Carpeta de l'usuari
Name[cs]=Domovská složka
Name[es]=Carpeta personal
Name[fi]=Koti
Name[fr]=Accueil
Name[it]=Home
Name[ko]=홈
Name[nl]=Persoonlijke map
Name[pt]=Pasta Pessoal
Name[pt_BR]=Meu Usuário
Name[ru]=Главная
Name[sq]=Shtëpia
Name[sr]=Лично
Name[tr]=Ev
Name[uk]=Домівка
Name[zh_CN]=主目录
Name[zh_TW]=主資料夾

