Source: dde-file-manager
Section: libdevel
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends:
 cmake,
 debhelper (>=9),
 pkg-config,
 dh-systemd,
 qtbase5-dev,
 qtbase5-private-dev,
 qtmultimedia5-dev,
 libffmpegthumbnailer-dev,
 libqt5svg5-dev,
 libpolkit-agent-1-dev, 
 libpolkit-qt5-1-dev,
 libdtkwidget-dev,
 libdtkgui-dev,
 libdtkcore-dev,
 libdtkcore5-bin,
 qttools5-dev-tools,
 dde-dock-dev(>=4.8.4.1),
 libdframeworkdbus-dev,
 libtag1-dev,
 libdmr-dev,
 libicu-dev,
 libdeepin-pdfium-dev,
 libqt5xdg-dev,
 libgio-qt-dev,
 libdfm-io-dev,
 libdfm-mount-dev,
 libdfm-burn-dev,
 libssl-dev,
 libgtest-dev,
 libgmock-dev,
 libgsettings-qt-dev,
 liblucene++-dev,
 libdocparser-dev,
 libboost-filesystem-dev,
 libsecret-1-dev,
 libkf5codecs-dev,
 libpoppler-cpp-dev,
 deepin-desktop-base | deepin-desktop-server | deepin-desktop-device
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: dde-file-manager
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Conflicts: dde-workspace (<< 2.90.5), dde-file-manager-oem
Replaces: dde-file-manager-oem
Recommends: dde-qt5integration, avfs, samba, deepin-anything-server,
 qt5dxcb-plugin, deepin-screensaver, cryfs
Description: File manager front end
 File manager front-end of Deepin OS

Package: dde-file-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dde-file-manager( =${binary:Version}),
 libdfm-io-dev, libdfm-mount-dev, libdfm-burn-dev
Description: DDE File Manager Devel library
 This package contains the header files and static libraries
 of dde-file-manager

Package: dde-disk-mount-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: plugin of dde-dock
 Disk mount plugin of dde-dock which is created by dde-file-manager
