Source: dde-file-manager
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>=9), pkg-config, qt5-qmake, qt5-default, qtbase5-dev, qtbase5-private-dev,
 libxcb-ewmh-dev, libgtk2.0-dev, libqt5x11extras5-dev, libgsettings-qt-dev, libqt5svg5-dev,
 qttools5-dev-tools, libmagic-dev, libudev-dev, libsecret-1-dev, libxcb-util0-dev,
 libstartup-notification0-dev, libpoppler-qt5-dev, libpolkit-agent-1-dev, libpolkit-qt5-1-dev,
 qtmultimedia5-dev, libffmpegthumbnailer-dev, libdtkbase-dev, libdtkutil-dev, libdtkwidget-dev
Standards-Version: 3.9.6
Homepage: http://www.deepin.org

Package: dde-file-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dde-daemon (>=3.0.16+r1),
 libdde-file-manager( =${binary:Version}), socat
Description: File manager front end of Deepin OS
 File manager front end of Deepin OS

Package: libdde-file-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: DDE File Manager library
 .
 This package contains the shared libraries.

Package: libdde-file-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdde-file-manager( =${binary:Version})
Description: DDE File Manager Devel library
 .
 This package contains the header files and static libraries of libdde-file-manager
