#!/usr/bin/make -f

export QT_SELECT=5
include /usr/share/dpkg/default.mk

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

a=$(shell pkg-config --cflags gio-qt)
b=$(shell ls /usr/lib/x86_64-linux-gnu/pkgconfig/)
c=$(shell dpkg -L libgio-qt-dev)
$(info $$a is [${a}])
$(info $$b is [${b}])
$(info $$c is [${c}])


%:
	dh $@ --parallel

override_dh_shlibdeps:
	dh_shlibdeps -l$(shell pwd)/debian/dde-sharefiles/usr/share/dde-file-manager/sharefiles/lib

override_dh_auto_configure:
	dh_auto_configure -- VERSION=$(VERSION) LIB_INSTALL_DIR=/usr/lib/$(DEB_HOST_MULTIARCH) DEFINES+="VERSION=$(DEB_VERSION_UPSTREAM)"
