[Unit]
Description=start dde-anythingmonitor
Wants=local-fs.target swap.target
After=local-fs.target swap.target emergency.service emergency.target anything.service

[Service]
Type=simple
KillMode=none
Restart=always
RestartSec=50ms
ExecStart=/usr/bin/dde-anythingmonitor

[Install]
WantedBy=multi-user.target
