[Desktop Entry]
Type=Application
Name=USB Device Formatter
Exec=/usr/bin/usb-device-formatter-pkexec
Icon=usb-device-formatter
NoShowIn=GNOME;Unity;Deepin
Type=Application