[Desktop Entry]
Exec=/usr/bin/usb-device-formatter-pkexec
Icon=usb-device-formatter
Name=USB Device Formatter
NoShowIn=GNOME;Unity;Deepin
Type=Application

