[Desktop Entry]
Categories=System;
Comment=Open trash.
Exec=gio open trash:///
GenericName=Open Trash.
Icon=user-trash
Name=Trash
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-trash

# Translations:
# Do not manually modify!
Comment[am_ET]=ቆሻሻ መክፈቻ
Comment[ar]=فتح سلة المحذوفات.
Comment[ast]=Abrir la papelera.
Comment[az]=Səbəti açmaq.
Comment[bg]=Отвори кофата.
Comment[bn]=ট্র্যাশ খুলুন
Comment[bo]=སྙིགས་སྣོད་ཁ་ཕྱེ།
Comment[ca]=Obre la paperera.
Comment[cs]=Otevřít koš.
Comment[da]=Åbn papirkurv.
Comment[de]=Papierkorb öffnen.
Comment[el]=Άνοιγμα Κάδου.
Comment[es]=Abrir papelera.
Comment[et]=Ava prügikast.
Comment[fa]=باز کردن زباله دان.
Comment[fi]=Avaa roskakori.
Comment[fr]=Ouvrir la corbeille.
Comment[gl_ES]=Abrir o lixo.
Comment[hr]=Otvori smeće.
Comment[hu]=Kuka megnyitása
Comment[id]=Buka tong sampah.
Comment[it]=Apri cestino.
Comment[ja]=ゴミ箱を開きます。
Comment[kab]=Ldi taqecwalt
Comment[km_KH]=បើកធុងសំរាម។
Comment[ko]=휴지통 열기.
Comment[lt]=Atverti šiukšlinę.
Comment[ms]=Buka tong sampah.
Comment[nb]=Åpne søppelkasse.
Comment[ne]=रद्दीटोकरी खोल्नुहोस्।
Comment[nl]=Open de prullenbak
Comment[pa]=ਰੱਦੀ ਨੂੰ ਖੋਲ੍ਹੋ।
Comment[pl]=Otwórz kosz.
Comment[pt]=Abrir o lixo.
Comment[pt_BR]=Abrir lixeira.
Comment[ro]=Deschide coș de gunoi
Comment[ru]=Открыть корзину.
Comment[sk]=Otvoriť kôš.
Comment[sl]=Odpri koš.
Comment[sq]=Hap hedhurinat.
Comment[sr]=Отвори смеће.
Comment[sv]=Öppna papperskorg.
Comment[ta]= குப்பை கோப்புகளை திற
Comment[tr]=Çöp kutusunu aç.
Comment[ug]=ئەخلەت چېلىكىنى ئېچىش
Comment[uk]=Відкрити смітник
Comment[zh_CN]=打开回收站
Comment[zh_HK]=打開回收站
Comment[zh_TW]=開啟回收桶。
GenericName[am_ET]=ቆሻሻ መክፈቻ
GenericName[ar]=فتح سلة المحذوفات
GenericName[ast]=Abrir la papelera.
GenericName[az]=Səbəti açmaq.
GenericName[bg]=Отвори кофата.
GenericName[bn]=ট্র্যাশ খুলুন
GenericName[bo]=སྙིགས་སྣོད་ཁ་ཕྱེ།
GenericName[ca]=Obre la paperera.
GenericName[cs]=Otevřít koš.
GenericName[da]=Åbn papirkurv.
GenericName[de]=Papierkorb öffnen
GenericName[el]=Άνοιγμα Κάδου.
GenericName[es]=Abrir papelera.
GenericName[et]=Ava prügikast.
GenericName[fa]=باز کردن زباله دان
GenericName[fi]=Avaa roskakori.
GenericName[fr]=Ouvrir la corbeille.
GenericName[gl_ES]=Abrir o Lixo.
GenericName[hr]=Otvori smeće.
GenericName[hu]=Kuka megnyitása
GenericName[id]=Buka Tong sampah.
GenericName[it]=Apri Cestino.
GenericName[ja]=ゴミ箱を開きます。
GenericName[kab]=Ldi taqecwalt
GenericName[km_KH]=បើកធុងសំរាម។
GenericName[ko]=휴지통 열기.
GenericName[lt]=Atverti šiukšlinę.
GenericName[ms]=Buka Tong Sampah.
GenericName[nb]=Åpne Søppelkasse.
GenericName[ne]=रद्दीटोकरी खोल्नुहोस्।
GenericName[nl]=Prullenbak openen
GenericName[pa]=ਰੱਦੀ ਨੂੰ ਖੋਲ੍ਹੋ
GenericName[pl]=Otwórz kosz.
GenericName[pt]=Abrir o lixo.
GenericName[pt_BR]=Abrir Lixeira.
GenericName[ro]=Deschide Coș de gunoi
GenericName[ru]=Открыть Корзину.
GenericName[sk]=Otvoriť Kôš.
GenericName[sl]=Odpri koš.
GenericName[sq]=Hap Hedhurinat.
GenericName[sr]=Отвори смеће.
GenericName[sv]=Öppna Papperskorg.
GenericName[ta]= குப்பை கோப்புகளை திற
GenericName[tr]=Çöp Kutusunu Aç.
GenericName[ug]=ئەخلەت چېلىكىنى ئېچىش
GenericName[uk]=Відкрити смітник
GenericName[zh_CN]=打开回收站
GenericName[zh_HK]=打開回收站
GenericName[zh_TW]=開啟回收桶。
Name[am_ET]=ቆሻሻ
Name[ar]=المحذوفات
Name[ast]=Papelera
Name[az]=Səbət
Name[bg]=Кошче
Name[bn]=ট্র্যাশ
Name[bo]=སྙིགས་སྣོད།
Name[ca]=Paperera
Name[cs]=Koš
Name[da]=Papirkurv
Name[de]=Papierkorb
Name[el]=Κάδος
Name[eo]=Korbeto
Name[es]=Papelera
Name[et]=Prügikast
Name[fa]=زباله دان
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[gl_ES]=Lixo
Name[hr]=Smeće
Name[hu]=Kuka
Name[id]=Tong sampah
Name[it]=Cestino
Name[ja]=ゴミ箱
Name[kab]=Taqecwalt
Name[km_KH]=ធុងសំរាម
Name[ko]=휴지통
Name[lt]=Šiukšlinė
Name[ml]=ചവറ്റുകൊട്ട
Name[ms]=Tong Sampah
Name[nb]=Søppe
Name[ne]=रद्दीटोकरी 
Name[nl]=Prullenbak
Name[pa]=ਰੱਦੀ
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixeira
Name[ro]=Coș de gunoi
Name[ru]=Корзина
Name[sk]=Kôš
Name[sl]=Koš
Name[sq]=Hedhurina
Name[sr]=Смеће
Name[sv]=Papperskorg
Name[ta]=குப்பை கோப்பு
Name[tr]=Çöp Kutusu
Name[ug]=ئەخلەت
Name[uk]=Смітник
Name[zh_CN]=回收站
Name[zh_HK]=回收站
Name[zh_TW]=回收桶

