[Desktop Entry]
Categories=System;
Comment=Show basic info of the computer.
Exec=gio open computer:///
GenericName=Computer
Icon=computer
Name=Computer
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-computer

# Translations:
# Do not manually modify!
Comment[am_ET]=መሰረታዊ መረጃ ስለ ኮምፒዩተር ማሳያ
Comment[ar]=إظهار المعلومات الأساسية للحاسوب
Comment[ast]=Amuesa la información básica del ordenador.
Comment[az]=Kompyuterin baza məlumatlarını göstərmək
Comment[bg]=Покажи основна информация на компютъра.
Comment[bn]=কম্পিউটারটির প্রাথমিক তথ্যগুলি দেখান
Comment[bo]=རྩིས་འཁོར་གྱི་གཞི་རྩའི་ཆ་འཕྲིན་མངོན་སྟོན་བྱེད།
Comment[ca]=Mostra informació bàsica de l'ordinador.
Comment[cs]=Zobrazit základní údaje o počítači.
Comment[da]=Vis grundlæggende info om computeren.
Comment[de]=Grundlegende Informationen über diesen Rechner anzeigen
Comment[el]=Εμφάνιση βασικών πληροφοριών  του υπολογιστή.
Comment[es]=Mostrar información básica del equipo. 
Comment[fa]=نمایش اطلاعات اولیه رایانه.
Comment[fi]=Näytä tietokoneen perustiedot.
Comment[fr]=Afficher les informations de base de l'ordinateur.
Comment[gl_ES]=Amosar información básica do computador.
Comment[hi_IN]=कंप्यूटर संबंधी सामान्य जानकारी दिखाएँ।
Comment[hr]=Pokaži osnovne podatke o računalu.
Comment[hu]=A számítógép alapvető információinak megjelenítése.
Comment[id]=Tampilkan informasi dasar dari komputer
Comment[it]=Mostra le informazioni base del computer.
Comment[ja]=コンピューターの基本情報を表示します。
Comment[kab]=Sken-d taɣult tagejdant n uselkim.
Comment[km_KH]=បង្ហាញព័ត៌មានមូលដ្ឋានរបស់កុំព្យូទ័រ។
Comment[ko]=컴퓨터의 기본 정보 표시
Comment[lt]=Rodyti pagrindinę kompiuterio informaciją.
Comment[mn]=Компьютерийн үндсэн мэдээлэл харах.
Comment[ms]=Tunjuk maklumat umum komputer.
Comment[nb]=Vis grunnleggende informasjon om datamaskinen:
Comment[ne]=कम्प्युटरको आधारभूत जानकारी देखाउनुहोस्।
Comment[nl]=Toon algemene informatie over deze computer
Comment[pa]=ਕੰਪਿਊਟਰ ਦੀ ਮੁੱਢਲੀ ਜਾਣਕਾਰੀ ਵੇਖਾਓ
Comment[pl]=Wyświetl podstawowe informacje o komputerze.
Comment[pt]=Mostrar informação básica do computador.
Comment[pt_BR]=Exibir informações básicas do computador.
Comment[ro]=Afișează informațiile de bază ale calculatorului.
Comment[ru]=Показать основную информацию о компьютере.
Comment[si]=පරිගණකයේ මූලික තොරතුරු පෙන්වන්න.
Comment[sk]=Zobraziť základné informácie počítača.
Comment[sl]=Pokaži osnovne informacije tega računalnika.
Comment[sq]=Shfaqni të dhëna elementare të kompjuterit.
Comment[sr]=Прикажи основне податке о рачунару.
Comment[sv]=Visa simpel information om datorn.
Comment[ta]=கணினி அடிப்படை தகவல் காட்டு.
Comment[tr]=Bilgisayarın temel bilgilerini göster.
Comment[ug]=كومپيوتېرنىڭ ئاساسلىق ئۇچۇرلىرىنى كۆرسىتىش
Comment[uk]=Показати базову інформаціїю про компʼютер
Comment[zh_CN]=显示计算机的基本信息
Comment[zh_HK]=顯示計算機的基本訊息
Comment[zh_TW]=顯示這台電腦的基本資訊。
GenericName[am_ET]=ኮምፒዩተር
GenericName[ar]=الحاسوب
GenericName[ast]=Ordenador
GenericName[az]=Kompyuter
GenericName[bg]=Компютър
GenericName[bn]=কম্পিউটার
GenericName[bo]=རྩིས་འཁོར།
GenericName[ca]=Ordinador
GenericName[cs]=Počítač
GenericName[da]=Computer
GenericName[de]=Computer
GenericName[el]=Υπολογιστής
GenericName[es]=Equipo
GenericName[fa]=رایانه
GenericName[fi]=Tietokone
GenericName[fr]=Ordinateur
GenericName[gl_ES]=Computador
GenericName[hi_IN]=कंप्यूटर
GenericName[hr]=Računalo
GenericName[hu]=Számítógép
GenericName[id]=Komputer
GenericName[it]=Computer
GenericName[ja]=コンピューター
GenericName[kab]=Aselkim
GenericName[km_KH]=កំុព្យូទ័រ
GenericName[ko]=컴퓨터
GenericName[lt]=Kompiuteris
GenericName[mn]=Компьютер
GenericName[ms]=Komputer
GenericName[nb]=Datamaskin
GenericName[ne]=कम्प्युटर
GenericName[nl]=Computer
GenericName[pa]=ਕੰਪਿਊਟਰ
GenericName[pl]=Komputer
GenericName[pt]=Computador
GenericName[pt_BR]=Computador
GenericName[ro]=Calculator
GenericName[ru]=Компьютер
GenericName[si]=පරිගණකය
GenericName[sk]=Počítač
GenericName[sl]=Računalnik
GenericName[sq]=Kompjuter
GenericName[sr]=Рачунар
GenericName[sv]=Dator
GenericName[ta]=கணினி
GenericName[tr]=Bilgisayar
GenericName[ug]=كومپيوتېر
GenericName[uk]=Комп'ютер
GenericName[zh_CN]=计算机
GenericName[zh_HK]=計算機
GenericName[zh_TW]=電腦
Name[am_ET]=ኮምፒዩተር
Name[ar]=الحاسوب
Name[ast]=Ordenador
Name[az]=Kompyuter
Name[bg]=Компютър
Name[bn]=কম্পিউটার
Name[bo]=རྩིས་འཁོར།
Name[ca]=Ordinador
Name[cs]=Počítač
Name[da]=Computer
Name[de]=Computer
Name[el]=Υπολογιστής
Name[es]=Equipo
Name[fa]=رایانه
Name[fi]=Tietokone
Name[fr]=Ordinateur
Name[gl_ES]=Computador
Name[hi_IN]=कंप्यूटर
Name[hr]=Računalo
Name[hu]=Számítógép
Name[id]=Komputer
Name[it]=Computer
Name[ja]=コンピューター
Name[kab]=Aselkim
Name[km_KH]=កំុព្យូទ័រ
Name[ko]=컴퓨터
Name[lt]=Kompiuteris
Name[mn]=Компьютер
Name[ms]=Komputer
Name[nb]=Datamaskin
Name[ne]=कम्प्युटर
Name[nl]=Computer
Name[pa]=ਕੰਪਿਊਟਰ
Name[pl]=Komputer
Name[pt]=Computador
Name[pt_BR]=Computador
Name[ro]=Calculator
Name[ru]=Компьютер
Name[si]=පරිගණකය
Name[sk]=Počítač
Name[sl]=Računalnik
Name[sq]=Kompjuter
Name[sr]=Рачунар
Name[sv]=Dator
Name[ta]=கணினி
Name[tr]=Bilgisayar
Name[ug]=كومپيوتېر
Name[uk]=Комп'ютер
Name[zh_CN]=计算机
Name[zh_HK]=計算機
Name[zh_TW]=電腦

