[Desktop Entry]
Categories=System;
Comment=Show the desktop
Exec=dde-desktop
GenericName=Desktop
Icon=dde-file-manager
Name=Desktop
OnlyShowIn=Deepin;DDE
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-desktop

# Translations:
# Do not manually modify!
GenericName[da]=Desktop
GenericName[de]=Desktop
GenericName[zh_CN]=桌面

Name[zh_CN]=桌面

