<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Deepin</vendor>
  <vendor_url>https://www.deepin.org</vendor_url>

  <action id="org.deepin.Filemanager.TPMControl.Access">
    <description>Access the TPM chip</description>
    <message>TPM status verification requires authentication</message>
    <message xml:lang="zh_CN">校验 TPM 芯片需要鉴权</message>
    <message xml:lang="zh_HK">校驗 TPM 晶片需要鑑權</message>
    <message xml:lang="zh_TW">驗證 TPM 晶片需要進行身分驗證</message>
    <icon_name>folder</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

</policyconfig>
