<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>LinuxDeepin</vendor>
	<vendor_url>https://www.deepin.com/</vendor_url>
	<action id="com.deepin.pkexec.usb-device-formatter">
		<message>Authentication is required to run the USB Device Formatter</message>
		<icon_name>usb-device-formatter</icon_name>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>auth_admin_keep</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">/usr/bin/usb-device-formatter</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
		<message xml:lang="en_AU">Authentication-required to run the "USB Device formatter"</message>
		<message xml:lang="zh_CN">运行USB格式化工具需要认证</message>
		<message xml:lang="it">Autenticazione richiesta per eseguire la formattazione del dispositivo</message>
		<message xml:lang="zh_TW">執行 USB 裝置格式化工具需要身份驗證</message>
		<message xml:lang="pt_BR">A autenticação é necessária para executar a Formatação do Dispositivo USB</message>
		<message xml:lang="ja">USBデバイスフォーマッターを実行するには認証が必要です</message>
		<message xml:lang="sr">Аутентификација је неопходна за покретање форматирања УСБ уређаја</message>
		<message xml:lang="fr">L'authentification est obligatoire pour exécuter le formatage du périphérique USB</message>
		<message xml:lang="ast">Ríquese l'autenticación pa executar el formatiador de preseos USB</message>
		<message xml:lang="uk">Щоб мати змогу запускати засіб форматування пристроїв USB, слід пройти розпізнавання</message>
		<message xml:lang="cs">Pro běh formátovače zařízení USB je požadováno ověření</message>
		<message xml:lang="lt">Norint paleisti USB įrenginio formatavimo programą, reikalingas tapatybės nustatymas</message>
		<message xml:lang="ca">Cal autenticació per executar el Formatador de dispositius USB</message>
		<message xml:lang="nl">Authenticatie vereist om USB-apparaatformattering uit te voeren</message>
		<message xml:lang="pt">A autenticação é necessária para executar o Formatador de dispositivo USB</message>
		<message xml:lang="hu">A művelethez hitelesítés szükséges.</message>
		<message xml:lang="tr">USB Aygıt Biçimlendirici çalışması için kimlik doğrulaması gerekli</message>
		<message xml:lang="de">Um USB Speicher zu formatieren ist eine Authentifizierung erforderlich.</message>
		<message xml:lang="ru">Требуется аутентификация для запуска  форматирования устройства USB</message>
	</action>
</policyconfig>
