[Desktop Entry]
Categories=System;
Comment=Open trash.
Exec=gio open trash:///
GenericName=Open Trash.
Icon=user-trash
Name=Trash
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-trash

# Translations:
# Do not manually modify!
Comment[ar]=فتح سلة المحذوفات.
Comment[ast]=Abrir papelera.
Comment[bg]=Отвори кофата.
Comment[ca]=Obre la paperera.
Comment[cs]=Otevřít koš
Comment[da]=Åbn papirkurv.
Comment[de]=Papierkorb öffnen.
Comment[es]=Abrir papelera.
Comment[es_419]=Abrir la papelera.
Comment[fr]=Ouvrir la corbeille.
Comment[gl_ES]=Abrir o lixo.
Comment[hr]=Otvori smeće.
Comment[hu]=Kuka megnyitása.
Comment[id]=Buka tong sampah.
Comment[it]=Apri cestino.
Comment[ja]=ゴミ箱にオープンする
Comment[lt]=Atverti šiukšlinę.
Comment[ms]=Buka tong sampah.
Comment[nl]=Prullenbak openen.
Comment[pl]=Otwórz kosz.
Comment[pt]=Abrir lixo.
Comment[pt_BR]=Abrir lixeira
Comment[ru]=Открыть корзину.
Comment[sk]=Otvoriť kôš.
Comment[sl]=Odpri koš.
Comment[sr]=Отвори смеће.
Comment[tr]=Çöp kutusunu aç.
Comment[uk]=Відкрити смітник
Comment[zh_CN]=打开回收站
Comment[zh_TW]=開啟回收桶。
GenericName[ar]=فتح سلة المحذوفات
GenericName[ast]=Abrir papelera.
GenericName[bg]=Отвори кофата.
GenericName[ca]=Obre la paperera.
GenericName[cs]=Otevřít koš
GenericName[da]=Åbn papirkurv.
GenericName[de]=Papierkorb öffnen
GenericName[es]=Abrir papelera.
GenericName[es_419]=Abrir la papelera.
GenericName[fr]=Ouvrir la Corbeille.
GenericName[gl_ES]=Abrir o Lixo.
GenericName[hr]=Otvori smeće.
GenericName[hu]=Kuka megnyitása.
GenericName[id]=Buka Tong sampah.
GenericName[it]=Apri Cestino.
GenericName[ja]=ゴミ箱にオープンする
GenericName[lt]=Atverti šiukšlinę.
GenericName[ms]=Buka Tong Sampah.
GenericName[nl]=Prullenbak openen.
GenericName[pl]=Otwórz kosz.
GenericName[pt]=Abrir Lixo.
GenericName[pt_BR]=Abrir lixeira
GenericName[ru]=Открыть Корзину.
GenericName[sk]=Otvoriť Kôš.
GenericName[sl]=Odpri koš.
GenericName[sr]=Отвори смеће.
GenericName[tr]=Çöp Kutusunu Aç.
GenericName[uk]=Відкрити смітник
GenericName[zh_CN]=打开回收站
GenericName[zh_TW]=開啟回收桶。
Name[ar]=المحذوفات
Name[ast]=Papelera
Name[bg]=Кошче
Name[ca]=Paperera
Name[cs]=Koš
Name[da]=Papirkurv
Name[de]=Papierkorb
Name[es]=Papelera
Name[es_419]=Papelera
Name[fr]=Corbeille
Name[gl_ES]=Lixo
Name[hr]=Smeće
Name[hu]=Kuka
Name[id]=Tong sampah
Name[it]=Cestino
Name[ja]=ゴミ箱
Name[lt]=Šiukšlinė
Name[ms]=Tong Sampah
Name[nl]=Prullenbak
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixeira
Name[ru]=Корзина
Name[sk]=Kôš
Name[sl]=Koš
Name[sr]=Смеће
Name[tr]=Çöp Kutusu
Name[uk]=Смітник
Name[zh_CN]=回收站
Name[zh_TW]=回收桶

