[Desktop Entry]
Categories=System;
Comment=Open trash.
Exec=gvfs-open trash:///
GenericName=Open Trash.
Icon=user-trash
Name=Trash
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true

# Translations:
# Do not manually modify!
Name[zh_CN]=回收站

