[Desktop Entry]
Type=Application
Name=Computer
Name[zh_CN]=计算机
Comment=Show storage of this computer.
GenericName=Computer
Icon=computer
Terminal=false
Categories=System;
Exec=gvfs-open computer:///
OnlyShowIn=Deepin;
X-AppStream-Ignore=true
