[Desktop Entry]
Categories=System;
Comment=Show basic info of the computer.
Exec=gvfs-open computer:///
GenericName=Computer
Icon=computer
Name=Computer
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-computer

# Translations:
# Do not manually modify!
Comment[cs]=Ukázat základní údaje o počítači.
Comment[da]=Vis grundlæggende info om computeren.
Comment[de]=Grundlegende Informationen über diesen Rechner anzeigen
Comment[es]=Mostrar información básica del ordenador. 
Comment[es_419]=Mostrar información básica del ordenador. 
Comment[fr]=Afficher les informations de base de l'ordinateur.
Comment[gl_ES]=Amosar información básica do computador.
Comment[hu]=Alapinformációk a számítógépről
Comment[it]=Mostra le informazioni base del computer.
Comment[lt]=Rodyti pagrindinę kompiuterio informaciją.
Comment[ms]=Tunjuk maklumat umum komputer.
Comment[nl]=Toon basisinformatie over deze computer.
Comment[pl]=Wyświetl podstawowe informacje o komputerze.
Comment[pt]=Mostrar informação básica do computador.
Comment[pt_BR]=Mostrar armazenamento deste computador.
Comment[ru]=Показать основную информацию о компьютере.
Comment[sk]=Zobraziť základné informácie počítača.
Comment[sl]=Pokaži osnovne informacije tega računalnika.
Comment[sr]=Приказује основне податке о рачунару.
Comment[uk]=Показати базову інформаціїюпро компʼютер
Comment[zh_CN]=显示计算机的基本信息
Comment[zh_TW]=顯示電腦的基本資訊。
GenericName[cs]=Počítač
GenericName[da]=Computer
GenericName[de]=Computer
GenericName[es]=Ordenador
GenericName[es_419]=Ordenador
GenericName[fr]=Ordinateur
GenericName[gl_ES]=Computador
GenericName[hu]=Számítógép
GenericName[it]=Computer
GenericName[lt]=Kompiuteris
GenericName[ms]=Komputer
GenericName[nl]=Computer
GenericName[pl]=Komputer
GenericName[pt]=Computador
GenericName[pt_BR]=Computador
GenericName[ru]=Компьютер
GenericName[sk]=Počítač
GenericName[sl]=Računalnik
GenericName[sr]=Рачунар
GenericName[uk]=Комп'ютер
GenericName[zh_CN]=计算机
GenericName[zh_TW]=電腦
Name[cs]=Počítač
Name[da]=Computer
Name[de]=Computer
Name[es]=Ordenador
Name[es_419]=Ordenador
Name[fr]=Ordinateur
Name[gl_ES]=Computador
Name[hu]=Számítógép
Name[it]=Computer
Name[lt]=Kompiuteris
Name[ms]=Komputer
Name[nl]=Computer
Name[pl]=Komputer
Name[pt]=Computador
Name[pt_BR]=Computador
Name[ru]=Компьютер
Name[sk]=Počítač
Name[sl]=Računalnik
Name[sr]=Рачунар
Name[uk]=Комп'ютер
Name[zh_CN]=计算机
Name[zh_TW]=電腦

