[Desktop Entry]
Categories=System;
Comment=Show basic info of the computer.
Exec=gvfs-open computer:///
GenericName=Computer
Icon=computer
Name=Computer
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true

# Translations:
# Do not manually modify!
GenericName[zh_CN]=计算机
Name[zh_CN]=计算机

