<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor />
  <vendor_url />
  <action id="org.deepin.Filemanager.MountController">
    <description>Mount and unmount file systems</description>
    <message>Authentication is required to mount or unmount file systems</message>
    <message xml:lang="zh_CN">挂载或卸载文件系统需要认证</message>
    <message xml:lang="zh_HK">掛載或卸載檔案系統需要認證</message>
    <message xml:lang="zh_TW">掛載或卸載檔案系統需要認證</message>
    <icon_name>folder</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
