[Desktop Entry]
Actions=new-window;
Categories=Utility;
Comment=Browse the file system
Exec=/usr/bin/file-manager.sh -n %u
GenericName=File Manager
Icon=dde-file-manager
MimeType=inode/directory;
Name=Deepin File Manager
OnlyShowIn=Deepin;
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
X-Deepin-Vendor=deepin
X-GNOME-Autostart-Delay=20;

# Translations:
# Do not manually modify!
Comment[am_ET]=የ ፋይል ስርአት መቃኛ
Comment[ar]=تصفح ملف النظام
Comment[ast]=Restola sistemes de ficheros
Comment[az]=Fayl sisteminə baxış
Comment[bg]=Преглед на файловата система
Comment[bn]=ফাইল সিস্টেম ব্রাউজ করুন
Comment[bo]=ཡིག་ཆའི་རྒྱུད་ཁོངས་ལ་རགས་ཙམ་ལྟ་བ།
Comment[ca]=Navegueu pel sistema de fitxers
Comment[cs]=Procházet souborový systém
Comment[da]=Gennemse filsystemet
Comment[de]=Dateisystem durchsuchen
Comment[el]=Περιηγηθείτε στο αρχείο συστήματος
Comment[en_AU]=Browse the file system
Comment[en_GB]=Browse the file system
Comment[es]=Examinar el sistema de archivos
Comment[et]=Sirvi failisüsteemi
Comment[eu]=Arakatu fitxategi sistema
Comment[fa]=سیستم فایل را مرور کنید
Comment[fi]=Selaa tiedostoja
Comment[fr]=Parcourir le système de fichiers
Comment[gl]=Examinar o sistema de ficheiros
Comment[gl_ES]=Examina o sistema de ficheiros
Comment[he]=עיון במערכת הקבצים
Comment[hr]=Pregledavaj datotečni sustav
Comment[hu]=A fájlrendszer böngészése
Comment[id]=Ramban sistem berkas
Comment[is]=Flakka í skráakerfinu
Comment[it]=Apri il File System
Comment[ja]=ファイル システムを参照します
Comment[kab]=Snirem anagraw n yifuyla
Comment[kk]=Файлдық жүйені шолу
Comment[ko]=파일 시스템 찾아보기
Comment[lt]=Naršyti failų sistemą
Comment[mn]=Файл системийг ажиглах
Comment[ms]=Layar sistem fail
Comment[nb]=Bla gjennom filsystemet
Comment[ne]=फाईल प्रणाली ब्राउज गर्नुहोस्
Comment[nl]=Verken het bestandssysteem
Comment[nn]=Bla gjennom filsystemet
Comment[oc]=Percórrer lo sistèma de fichièrs
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pl]=Przeglądaj system plików
Comment[pt]=Explorar o sistema de ficheiros
Comment[pt_BR]=Navegar pelos arquivos do sistema
Comment[ro]=Gestionați fișierele din sistem
Comment[ru]=Просмотр файловой системы
Comment[sk]=Prehľadávanie systému súborov
Comment[sl]=Brskaj po datotečnem sistemu
Comment[sq]=Shfletoni sistemin e kartelave
Comment[sr]=Прегледај систем датотека
Comment[sv]=Bläddra i filsystemet
Comment[ta]=கோப்பு முறைமை உலாவுக
Comment[te]=దస్త్ర వ్యవస్థను విహరించు
Comment[th]=ท่องดูระบบแฟ้ม
Comment[tr]=Dosya sistemine gözat
Comment[ug]=ھۆججەت سىستېمىسىنى كۆرىدۇ
Comment[uk]=Перегляд файлової системи
Comment[vi]=Duyệt hệ thống tệp tin
Comment[zh_CN]=浏览文件系统
Comment[zh_HK]=瀏覽檔案系統
Comment[zh_TW]=瀏覽與管理檔案系統
GenericName[am_ET]=የ ፋይል አስተዳዳሪ
GenericName[ar]=مدير الملفات
GenericName[ast]=Xestor de ficheros
GenericName[az]=Fayl Meneceri
GenericName[bg]=Файлов мениджър
GenericName[bo]=ཡིག་ཆ་དོ་དམ་བྱེད་ཆས།
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_AU]=File Manager
GenericName[es]=Administrador de archivos
GenericName[et]=Failihaldur
GenericName[fa]=مدیر فایل
GenericName[fi]=Tiedostohallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[gl_ES]=Xestor de ficheiros
GenericName[hr]=Upravitelj datotekama
GenericName[hu]=Fájlkezelő
GenericName[id]=Manajer Berkas
GenericName[it]=File Manager
GenericName[ja]=ファイル マネージャー
GenericName[kab]=Amsefrek n ifuyla
GenericName[ko]=파일 관리자
GenericName[lt]=Failų tvarkytuvė
GenericName[ml]=ഫയൽ മാനേജർ
GenericName[mn]=Файл менежер
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filutforsker
GenericName[ne]=फाइल प्रबन्धक
GenericName[nl]=Bestandsbeheer
GenericName[pl]=Zarządzanie plikami
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ro]=Manager de fișiere
GenericName[ru]=Файловый Менеджер
GenericName[sk]=Správca súborov
GenericName[sl]=Upravitelj datotek
GenericName[sq]=Përgjegjës Kartelash
GenericName[sr]=Управник Података
GenericName[sv]=Filhanterare
GenericName[ta]=கோப்பு மேலாளர்
GenericName[tr]=Dosya Yöneticisi
GenericName[ug]=ھۆججەت باشقۇرغۇچ
GenericName[uk]=Файловий менеджер
GenericName[zh_CN]=文件管理器
GenericName[zh_HK]=檔案管理員
GenericName[zh_TW]=檔案管理器
Name[am_ET]=ዲፕኢን የ ፋይል አስተዳዳሪ
Name[ar]=مدير ملفات ديبين
Name[ast]=Deepin File Manager
Name[az]=Deepin Fayl Meneceri
Name[bg]=Файлов мениджър
Name[bn]=ফাইল ম্যানেজার
Name[bo]=གཏིང་ཚད་ཡིག་ཆ་དོ་དམ་བྱེད་ཆས།
Name[ca]=Gestor de fitxers del Deepin
Name[cs]=Deepin správce souborů
Name[da]=Deepin filhåndtering
Name[de]=Deepin Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[en_AU]=Deepin File Manager
Name[en_GB]=Deepin File Manager
Name[es]=Administrador de archivos
Name[et]=Deepin failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fa]=مدیر فایل دیپین
Name[fi]=Deepin tiedostohallinta
Name[fr]=Gestionnaire de fichiers Deepin
Name[gl]=Xestor de ficheiros
Name[gl_ES]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Deepin upravltelj datotekama
Name[hu]=Deepin® Fájlkezelő
Name[id]=Manajer Berkas
Name[is]=Skráastjóri
Name[it]=Deepin File Manager
Name[ja]=Deepin ファイル マネージャー
Name[kab]=Amsefrak n yifuyla n Deepin
Name[kk]=Файлдар басқарушысы
Name[ko]=Deepin 파일 관리자
Name[lt]=Deepin failų tvarkytuvė
Name[lv]=Faila pārvaldnieks
Name[ml]=ഡീപിൻ ഫയൽ മാനേജർ
Name[mn]=Диипин файл менежер
Name[ms]=Pengurus Fail Deepin
Name[nb]=Filbehandler
Name[ne]=डीपिन फाइल प्रबन्धक
Name[nl]=Deepin Bestandsbeheer
Name[nn]=Filhandsamar
Name[oc]=Gestionari de fichièrs
Name[pa]=ਡੀਪਿਨ ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Zarządzanie plikami Deepin
Name[pt]=Gestor de Ficheiros Deepin
Name[pt_BR]=deepin Gerenciador de Arquivos
Name[ro]=Manager de fișiere Deepin
Name[ru]=Файловый Менеджер Deepin
Name[sk]=Deepin Správca súborov
Name[sl]=Upravitelj datotek Deepin
Name[sq]=Përgjegjës Kartelash Deepin
Name[sr]=Дипин Управник Података
Name[sv]=Filhanterare
Name[ta]=டீபைன் கோப்பு மேலாளர்
Name[te]=దస్త్ర నిర్వాహకం
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tr]=Deepin Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇچ
Name[uk]=Файловий менеджер Deepin
Name[vi]=Trình quản lý tệp tin
Name[zh_CN]=深度文件管理器
Name[zh_HK]=深度檔案管理員
Name[zh_TW]=Deepin 檔案管理器

[Desktop Action new-window]
Exec=/usr/bin/file-manager.sh --new-window
Name=New Window
Name[sr@latin]=Novi prozor

# Translations:
# Do not manually modify!
Name[am_ET]=አዲስ መስኮት
Name[ar]=نافذة جديدة
Name[ast]=Ventana nueva
Name[az]=Yeni Pəncərə
Name[bg]=Нов прозорец
Name[bn]=নতুন উইন্ডো
Name[bo]=སྒེའུ་ཁུང་གསར་འཛུགས།
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_AU]=New Window
Name[es]=Nueva ventana
Name[et]=Uus aken
Name[eu]=Leiho berria
Name[fa]=پنجره نو
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre 
Name[fur]=Gnûf barcon
Name[gd]=Uinneag ùr
Name[gl]=Nova xanela
Name[gl_ES]=Nova xanela
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新規ウィンドウ
Name[kab]=Asfaylu amaynut
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[mn]=Шинэ цонх
Name[ms]=Tetinkap Baharu
Name[nb]=Nytt vindu
Name[ne]=नयाँ विन्डो
Name[nl]=Nieuw venster
Name[oc]=Fenèstra novèla
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova Janela
Name[pt_BR]=Nova Janela
Name[ro]=Fereastră nouă
Name[ru]=Новое Окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sq]=Dritare e Re
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[ta]=புதிய திரை
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[ug]=يېڭى كۆزنەك
Name[uk]=Нове вікно
Name[zh_CN]=新建窗口
Name[zh_HK]=新建窗口
Name[zh_TW]=新增視窗

